In [ ]:
## As usual wiuth the starter code, my comments are marked with a ## while the starter comments have a single #

In [2]:
## This is in case you need this to run the rest of it. Feel free to comment out before you run 
## if you need this to run the sqlalchemy
## !pip install psycopg2

In [3]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [4]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [5]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [6]:
# create engine to hawaii.sqlite
##getting the database path to grab the sqllite database
databasePath = "Resources/hawaii.sqlite"
engine = create_engine(f"sqlite:///{databasePath}")

In [8]:
# reflect an existing database into a new model
## I believe this is where I would use the automap_base to map the sqlite file.
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect = True)

In [9]:
# View all of the classes that automap found
Base.classes.keys()
## Measurement and station match up with the .csv files in the starter code so that makes sense

['measurement', 'station']

In [10]:
# Save references to each table
## Since the classes here are tables I save them as tables so I remember!
MeasurementTable = Base.classes.measurement
StationTable = Base.classes.station

In [11]:
# Create our session (link) from Python to the DB
## The session at the end is called session so I call it that
session = Session(engine)

# Exploratory Precipitation Analysis

In [71]:
# Find the most recent date in the data set.
## This took me a while to get. It kept returning just the SQL command and not the data
## I forgot I needed the .first() at the end!

## the comma here gets rid of the comma in the printout. Makes it look nicer!
mostRecent, = session.query(MeasurementTable.date).order_by(MeasurementTable.date.desc()).first()
print(mostRecent)

2017-08-23

In [70]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 

# Starting from the most recent data point in the database. 
## Thankfully we got that in the last section with mostRecent. Just need to filter it to all columns rather than .\
## just the date
lastDataPoint = session.query(MeasurementTable).order_by(MeasurementTable.date.desc()).first()

# Calculate the date one year from the last date in data set.
## This gets the date from one year prior
oneYearPrior = dt.date(2017,8,23) - dt.timedelta(days=365)
print(oneYearPrior)
# Perform a query to retrieve the data and precipitation scores
## This one shouldn't be too hard
yearQuery = session.query(MeasurementTable.date, MeasurementTable.prcp).filter(MeasurementTable.date >= \
                                                                               oneYearPrior)

# Save the query results as a Pandas DataFrame and set the index to the date column
## I used to not like pandas but sqlite makes me like going back to pandas. Nice and simple here.
## I did have to look up the "columns =" though. That part is cool I like that.

prcpDF = pd.DataFrame(yearQuery, columns = ["date", "prcp"])
## I like using new variables as to not screw with the data too much
prcpDated = prcpDF.set_index("date")

# Sort the dataframe by date
sortedDF = prcpDated.sort_values("date")
sortedDF
# Use Pandas Plotting with Matplotlib to plot the data

2016-08-23

            prcp
date
2016-08-23  0.00
2016-08-23   NaN
2016-08-23  1.79
2016-08-23  0.05
2016-08-23  0.15
...          ...
2017-08-22  0.00
2017-08-23  0.00
2017-08-23  0.00
2017-08-23  0.08
2017-08-23  0.45

[2230 rows x 1 columns]

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
## I'm glad the starter code remembered to this because I almost forgot!
session.close()